@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}



body{
    font-size: medium;
    background-color:rgb(247, 243, 10);
    float:left;
    background-repeat: no-repeat, repeat;
    background-size:cover;

}

.cabeçalho{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 20px;
background-color: rgb(44, 44, 44);
     
}

.cabeçalho-imagem {
    height: 85px;

}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    font-size:25px ;
  float: left;
    margin-right: 18em;
  

}

.cabeçalho-imagem-escrito{
    float: right;
    max-width:180px;
    margin-left:5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right;
    font-size: medium;

    }

    .cabeçalho-menu{
        display: flex;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        cursor: pointer;

       font-style: normal;
        gap: 19px;
      color: aliceblue;
     
      
    }

    .cabeçalho-menu-item:hover {
        background-color: rgba(209, 208, 207, 0.53);
        border-radius: 80px;
      }

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid black;

}



.conteudo-principal-informação{
text-align: center; 
align-items: center;
  }



  .conteudo-principal-titulo{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 30px;
      
      font-style: normal;
      padding: 1%;
    
      
  }


  .conteudo-princiapl-subtitulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2opxpx;
    font-style: normal;
    text-decoration: none;
     margin-top: 0.4%;
    color: rgb(133, 130, 130);
    align-items: center;
  height: 60px;
 
  }


  .conteudo-principal-imagem{

    animation: jumping 2s linear infinite;
    cursor:  pointer;
 }
 
 @keyframes jumping {
     from {transform: translateY(-12px);}
     50% {transform: translateY(0);}
     to {transform: translateY(-12px);}

  }


  .conteudo-secundario{
    cursor:  pointer;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;

flex-direction: column;
display: flex;
align-items: center;
gap: 10px;

}

  .box_1{
    color: rgb(104, 47, 47);
    text-decoration: underline;
  font-style: italic;  

}


.box_2{
    color: rgb(104, 47, 47);
    text-decoration: underline;
font-style: italic;
}

.box_3{
    color: rgb(104, 47, 47);
    text-decoration: underline;
font-style: italic;
}

.box_4{
    color: rgb(104, 47, 47);
    text-decoration: underline;
 font-style: italic;
}





.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 55px;


}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap:32px;

}

.conteudo-principal-escrito-titulo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 22px;
    color: black;

}
.conteudo-principal-escrito-subtitulo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 22px;
    color: black;
    
}

.conteudo-principal-escrito-botao{
background: rgb(131,133,112);
background: linear-gradient(90deg, rgba(131,133,112,1) 0%, rgba(144,144,144,1) 38%, rgba(41,41,41,1) 88%);   
margin-top: 2%;
height: auto;
width: auto;
cursor: pointer;
justify-content: center;
padding: 2.9%;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
border: none;
box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 80px;
font-family: 'Lato', sans-serif;
    font-weight: 20;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.conteudo-principal-escrito-botao:hover {
    background: rgba(94, 94, 94, 0.53);
    transform: scale(1.1);
    transition: all 0.5s;
  }



.rodape-imagem{
  height: 50px;
  margin: auto;
  display: block;
 justify-content: center;
   align-items: center;
   animation: jumping 2s linear infinite;
   cursor:  pointer;
}

@keyframes jumping {
    from {transform: translateY(-15px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-15px);}
}

.conteudo{
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   flex-wrap: wrap;
}




  /*media queries */
  @media (max-width: 768px) {
      html {
          font-size: 50%;
      }
  }
@media (max-width: 630px) {

}
  /*  mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /*  desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }




